<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hello there! I'm Tommaso, a Senior Game Programmer with more than 6 years of professional experience with Unity.
          I've worked for a medtech company, GripAble, building a series of gamified rehabilitation experiences. Now, I'm
          working for Marmalade Game Studio, helping them build great digital board games!</p>
      </div>
      <div class="col-lg-4">
        <p>Outside of my professional career, I like to do other stuff too. I enjoy experimenting with new things and prototypes
          in Unity, as well as doing some 3D art in my spare time. Checkout all the projects I've worked on here and feel free
          to hit me up if you wanna get in touch!</p>
      </div>
      <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a> -->
      </div>
    </div>
  </div>
</section>
