<section id="contact">
	<div class="user-details">
		<h1>Contact me</h1>
	</div>
	<div class="inner">
		<section>
			<form action="https://formspree.io/xaywbyaw" method="POST">
			  <input name="name" type="text" class="feedback-input" placeholder="Name">
			  <input name="email" type="text" class="feedback-input" placeholder="Email">
			  <textarea name="text" class="feedback-input" placeholder="Message"></textarea>
			  <input type="submit" value="SEND"/>
			</form>
		</section>
	</div>
</section>
