<!-- Contact Section -->
<section id="contact" class="section-neutral">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Contact Me</h2>
        <hr class="star-primary">
      </div>
    </div>
	<div class="inner">
		<form action="https://formspree.io/xaywbyaw" method="POST" class="contact-form">
			<input name="name" type="text" class="feedback-input" placeholder="Name">
			<input name="email" type="text" class="feedback-input" placeholder="Email">
			<textarea name="text" class="feedback-input contact-message" placeholder="Message"></textarea>
			<input type="submit" class="contact-submit" value="SEND"/>
		</form>
	</div>
  </div>
</section>
