<div class="user-details">
  <h1>Games</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="whack-a-mole-ar" src="{{ "/assets/img/whack-a-mole-ar.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Wack-A-Mole AR</h3>
    <p>Whack-A-Mole AR is an Augmented Reality 3D remaster of the classic game Whack-A-Mole. Whack-A-Mole AR has been made with Zapworks Studio and Javascript.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="asteroids-3d" src="{{ "/assets/img/asteroids-3d.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Asteroids 3D</h3>
    <p>Asteroids 3D is a 3D remaster of the arcade classic Asteroids. In this game, the player controls a spaceship in an area filled with asteroids of various sizes and speeds, moving in random directions. The goal is to survive as long as possible by shooting asteroids and running away. Asteroids 3D has been made with Unity, C# and Blender.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="dreameaters" src="{{ "/assets/img/dreameaters.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Dreameaters</h3>
    <p>Dreameaters is a multiplayer FPS of dreameating ghosts. This game is a 3D multiplayer FPS, with up to 4 player joining a room, playing as ghosts who are trying to kill each other inside a huge bedroom arena. The game supports player accounts and player statistics tracking. Dreameaters has been made with Unity and C#.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="drop7-clone" src="{{ "/assets/img/drop7-clone.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Drop7 Clone</h3>
    <p>Drop7 Clone is a web clone of the smartphone puzzle game Drop7. Drop7 Clone has been made with HTML5 and Javascript.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
