<!-- Header -->
<header>
  <div id="particles-js">
    <div class="header">
        <div class="intro-text">
          <span class="name">{{ site.title }}</span>
          <hr class="star-particles" />
          <span class="skills">{{ site.skills }}</span>
        </div>
        <div class="header-icons">
          {% if site.show_header_contact_icon %}
          <a aria-label="Send email" href="#contact" data-scroll><i class="icon fa fa-envelope"></i></a>
          {% endif %}

          {% for social_hash in site.socials %}
          {% assign social = social_hash[1] %}
          {% if social.show_in_header %}
          <a aria-label="{{ social.title }}" target="_blank" href="{{ social.url }}">
            <i class="{{ social.icon_classes }}" aria-hidden="true"></i>
          </a>
          {% endif %}
          {% endfor %}
        </div>
    </div>
    <a class="down" href="#portfolio" data-scroll>
      <i class="icon fa fa-chevron-down" aria-hidden="true"></i>
    </a>
</header>
