{% assign sorted_projects = projects_list | sort: 'date' | reverse %}
{% for project in sorted_projects %}
<div class="portfolio-modal modal fade" id="modal-{{ projects_id }}-{{ project.uid }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ project.title }}</h2>
            <hr class="star-primary">
            <img src="{{ project.img }}" class="img-responsive img-centered" alt="{{ project.img_alt }}">
            {% if project.description %}
            <p>{{ project.description }}</p>
            {% endif %}
            <ul class="list-inline item-details">
              {% if project.company %}
              <li>Company:
                {% if project.company_url %}
                <a class="modal-link" href="{{ project.company_url }}" target="_blank">{{ project.company }}</a>
                {% else %}
                <strong>{{ project.company }}</strong>
                {% endif %}
              </li>
              {% endif %}

              {% if project.project_dates %}
              <li>Dates: <strong>{{ project.project_dates }}</strong></li>
              {% endif %}
               
              {% if project.technologies %}
              <li>Tech:
                {% for technology in project.technologies %}
                <strong>{{ technology }}</strong>{% unless forloop.last %}, {% endunless %}
                {% endfor %}
              </li>
              {% endif %}
               
              {% if project.platforms %}
              <li>Platforms:
                {% for platform in project.platforms %}
                <strong>{{ platform }}</strong>{% unless forloop.last %}, {% endunless %}
                {% endfor %}
              </li>
              {% endif %}
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
