<section id="{{ projects_id }}" class="projects-section section-neutral">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>{{ projects_title }}</h2>
        <hr class="star-primary">
      </div>
    </div>
    {% assign sorted_projects = projects_list | sort: 'date' | reverse %}
    <div class="portfolio-flex-row">
      {% for project in sorted_projects %}
      <div class="portfolio-flex-item portfolio-item">
        <a href="#modal-{{ projects_id }}-{{ project.uid }}" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="{{ project.img }}" class="img-responsive" alt="{{ project.img_alt }}">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
