.parallax-container {
  height: 45vw;
}

.site-name {
  margin-top: calc(20px + 3.5vw);
  margin-bottom: 0;
  font-size: calc(12px + 5vw);
}

.site-description {
  margin-top: 1vw;
  font-size: calc(6px + 1.8vw);
}

.section-header {
  text-align: center;
  //font-size: 5vw;
  //margin-bottom: 1vw;
}
