.parallax-container {
  height: 45vw;
}

.site-name {
  margin-top: 4vw;
  margin-bottom: 0;
  font-size: 5.5vw;
}

.site-description {
  margin-top: 1vw;
  font-size: 2vw;
}

.section-header {
  text-align: center;
  //font-size: 5vw;
  //margin-bottom: 1vw;
}
