#wrapper .project div.inner {
  padding-top: 2em;
}

.project {

  p, ul, .major {
    margin-bottom: 1em;
  }

  .major {
    margin-top: 2em;
  }

  ul.controls {
    .key {
      font-weight: bold;
      display: inline;
    }
  }

  .tracking-image {
    display: block;
    width: 50%;
    height: auto;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: none;
  }

  .project-content {
    p {
      text-align: justify;
    }
  }

  .actions {
    margin-top: 2em;
  }
}
