<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}

      {% if site.about_me %}
        {% include about.html %}
      {% endif %}

      {% assign projects_id = "games" %}
      {% assign projects_title = "Games" %}
      {% assign projects_list = site.games %}
      {% include projects.html %}
      {% include project_modals.html %}

      {% assign projects_id = "models" %}
      {% assign projects_title = "3D Models" %}
      {% assign projects_list = site.3d_models %}
      {% include projects.html %}
      {% include project_modals.html %}

      {% include contact.html %}
      {% include footer.html %}
  </body>
</html>
