<!DOCTYPE html>
<html>

{% include head.html %}

  <body id="page-top" class="index">
    {% include header.html %}

    {% assign projects_id = "portfolio" %}
    {% assign projects_title = "Portfolio" %}
    {% assign projects_list = site.projects_portfolio %}
    {% include projects.html %}
    {% include project_modals.html %}

    {% include about.html %}

    {% assign projects_id = "other" %}
    {% assign projects_title = "Other Stuff" %}
    {% assign projects_list = site.projects_other %}
    {% include projects.html %}
    {% include project_modals.html %}

    {% include separator.html %}

    {% include contact.html %}
    {% include footer.html %}
    
    {% include js.html %}
  </body>

</html>
