<html>
  {% include head.html %}
  <body>
    <section id="contact">
    	<div class="user-details">
    		<h1>{{ page.title }}</h1>
    	</div>
    	<div class="inner">
    		<section>
          <ul>
            <li>Download the <a href="https://www.zappar.com/getzappar/" target="_blank">Zappar application</a> for Android or iOS.</li>
            <li>
              Print the following tracking image, or leave it on screen (click for full resolution).
              <a class="tracking-image" href="{{ assets/img/whack-a-mole-ar-tracking-image.png | relative_url }}" target="_blank"><img src="{{ assets/img/whack-a-mole-ar-tracking-image.png | relative_url }}" alt="whack-a-mole ar tracking image"/></a>
            </li>
            <li>Open the Zappar application and scan the tracking image.</li>
            <li>Enjoy Whack-A-Mole AR!</li>
          </ul>
    		</section>
    	</div>
    </section>
  </body>
</html>
