<html>
  {% include head.html %}
  <body>
    <section class="projects">
    	<div class="user-details">
    		<h1>{{ page.title }}</h1>
    	</div>
    	<div class="inner">
        <ol>
          <li>Download the <a href="https://www.zappar.com/getzappar/" target="_blank">Zappar application</a> for Android or iOS.</li>
          <li>Print the following tracking image, or leave it on screen (click for full resolution).</li>
          <li>Open the Zappar application and scan the tracking image.</li>
          <li>Enjoy Whack-A-Mole AR!</li>
        </ol>
        <a class="tracking-image" href="{{ "assets/img/whack-a-mole-ar-tracking-image.png" | absolute_url }}" target="_blank"><img src="{{ "assets/img/whack-a-mole-ar-tracking-image.png" | absolute_url }}" alt="whack-a-mole ar tracking image"/></a>
    	</div>
    </section>
  </body>
</html>
